@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/Lato-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'lato-black';
    src: url('../fonts/Lato-Black.ttf') format('opentype');
}

  *,
   *:before,
   *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  }

.header_flex {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: #222222;
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 41px;
  margin-left: 231px;
}

.bar {
  margin-right: 33px;
}

.basket {
  margin-left: 33px;
  margin-right: 231px;
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #F1E4E6;
  align-items: center;
  gap: 63px;
}

.banner_text {
    display: flex;
    flex-direction: column;
    border-left: 12px solid #f16d7f;
    justify-content: end;
}
.banner_brand {
    font-size: 48px;
    color: #222222;
    font-family: lato-black;
    margin-left: 12px;
}

.banner_fashion {
    font-size: 32px;
    color: #222222;
    font-family: lato;
    margin-left: 12px;
}

.banner_span {
    color: #f16d7f;
    font-weight: 700;
}

.offer {
  width: 1140px;
  display: flex;
  justify-content: center;
}

.offer_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 65px;
  margin-bottom: 90px;
}

.offer_item {
  position: relative;
  text-align: center;
}

.offer_item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 1;
}

.full_width {
  grid-column: span 3;
}
.offer_photo {
  width: 100%;
  height: auto;
  display: block;
}

.offer_women,
.offer_men,
.offer_kids {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: lato;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.offer_span {
  color: #f16d7f;
  font-weight: 700;
  font-size: 24px;
}

.products {
  width: 1140px;
  text-align: center;
}

.products_title {
  display: grid;
  text-align: center;
  margin-bottom: 48px;
}

.products_text {
  font-size: 30px;
  font-weight: 400;
  font-family: lato;
}

.products_text_mini {
  font-size: 14px;
  font-weight: 400;
  font-family: lato;
  color: rgba(159, 159, 159, 1)
}

.prod_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
  cursor: pointer;
}

.prod_item {
  background: rgba(248, 248, 248, 1);
  text-align: left;
  width: 360px;
  position: relative;
}

.prod_item:hover .prod_photo {
  filter: brightness(0.3);
}

.prod_item:hover .prod_add {
  opacity: 1;
}

.prod_item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.prod_add {
  opacity: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: lato;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 3;
}

.prod_photo_add {
  margin-right: 5px;
}


.prod_text_max {
  font-size: 13px;
  font-weight: 400;
  font-family: lato;
  color: rgba(0, 0, 0, 1);
  margin-top: 16px;
  margin-left: 24px;
}

.prod_text_content {
  font-size: 14px;
  font-weight: 300;
  font-family: lato;
  color: rgba(93, 93, 93, 1);
  margin-left: 24px;
  margin-right: 30px;
  width: 315px;
}

.prod_price {
  font-size: 16px;
  font-weight: 400;
  font-family: lato;
  color: rgba(241, 109, 127, 1);
  margin-bottom: 16px;
  margin-left: 24px;
}

.prod_button {
  color: rgba(255, 106, 106, 1);
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: lato;
  margin-top: 48px;
  margin-bottom: 95px;
  cursor: pointer;
  border: 1px solid rgba(255, 106, 106, 1);
  padding: 13px 38px;
}

.prod_button:hover {
  background-color: rgba(255, 106, 106, 1);
  color: #fff;
}

.feature {
  background-color: rgba(34, 34, 36, 1);
  height: 341px;
  margin: 0 auto;
}

.feature_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  gap: 30px;
  align-items: center;
}

.feature_card {
  padding: 0 19px;
}

.feature_text {
  color: rgba(251, 251, 251, 1);
  font-size: 20px;
  font-family: lato;
  margin-top: 28px;
}

.featext {
  margin-top: 19px;
}

.featext1 {
  margin-top: 25px;
}

.feature_content {
  color: rgba(251, 251, 251, 1);
  font-size: 14px;
  font-family: lato-light;
  font-weight: 400;
}

.mail {
  background-image: url(../img/back.svg);
  height: 448px;
  width: 100%;
  position: relative;
  text-align: center;
}

.mail::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(244, 244, 244, 0.7);
  z-index: 1;
}

.mail_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
  justify-items: center;
}

.mail_left,
.mail_right {
  z-index: 3;
  width: 360px;
}
.coment {
  font-size: 20px;
  font-family: lato;
  margin-top: 30px;
  color: rgba(34, 34, 36, 1);
}

.coment_form_header {
  font-size: 24px;
  font-family: lato-black;
  color: rgba(34, 34, 36, 1);
}

.coment_form {
  font-size: 18px;
  font-family: lato;
  margin-bottom: 30px;
  color: rgba(34, 34, 36, 1);
}

input {
  height: 50px;
  width: 256px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  margin: 0;
  background: rgba(225, 225, 225, 1);
  padding-left: 22px;
  outline: none;
}

.button_mail {
  height: 50px;
  width: 100px;
  background: rgba(224, 92, 110, 1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  cursor: pointer;
  margin-left: -4px;
  color: #fff;
}

.button_mail:hover {
  background: #fff;
  color: rgba(224, 92, 110, 1);
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  height: 75px;
  align-items: center;
  background-color: rgba(34, 34, 36, 1);
  margin: 0 auto;
}

.footer_left,
.footer_right {
  display: flex;
  align-items: center;
}

.footer_left {
  color: rgba(251, 251, 251, 1);
  font-size: 16px;
  font-family: lato;
}

.footer_right {
  display: flex;
  gap: 7px;
}

.footer_right button {
  flex: 1;
  border: none;
}

.footer_right button:hover {
  background-color: rgba(241, 109, 127, 1);
}

.face,
.insta,
.print,
.twit {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  cursor: pointer;
}

.main_menu_bar {
    position: absolute;
    top: 75px;
    right: 0;
    padding: 1rem;
    background-color: #f9f9f9;
    width: 232px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: right 0.4s;
    line-height: normal;
}

ul {
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-left: 0;
}

ul li {
    padding-left: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 768px;
  }

  .logo {
    margin-left: 32px;
  }

  .basket {
  margin-right: 32px;
  }

  .banner_brand {
    font-size: 44px;
  }

  .banner_fashion {
    font-size: 24px;
  }

  .banner_photo {
    object-fit: contain;
    width: 100%;
  }

  .prod_cards {
    grid-template-columns: repeat(2, 1fr);
  }

.feature {
  height: 610px;
}

.feature_grid {
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}

.mail_grid {
  grid-template-columns: 1fr;
}

.feature_card {
  width: 360px;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }

  .logo {
    margin-left: 32px;
  }

  .basket {
    display: none;
  }
  .profile {
    display: none;
  }

  .banner_photo {
    display: none;
  }

  .banner_brand {
    font-size: 38px;
  }

  .banner_fashion {
    font-size: 20px;
  }

  .banner_photo {
    object-fit: contain;
    width: 100%;
  }
  .prod_item {
    width: 320px;
  }
  .prod_cards {
    grid-template-columns: 1fr;
  }

  .prod_photo {
    width: 320px;
  }

  .banner {
    grid-template-columns:  1fr;
    height: 363px;
    padding-left: 30px;
  }

  .feature_grid {
    grid-template-columns:  1fr;
  }

  .offer_card {
    grid-template-columns: 1fr;
  }

  .full_width {
    grid-column: span 1;
  }

  .feature {
    height: 610px;
  }

  .mail_grid {
    grid-template-columns:  1fr;
    width: 320px;
  }

  input {
    width: 190px;
  }

  .footer {
    grid-template-columns:  1fr;
  }

  .coment {
    width: 320px;
    font-size: 19px;
  }

  .mail_left, .mail_right {
    z-index: 3;
    width: 320px;
  }

}